.user-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 5%;
  top: 2%;

  & > .item {
    cursor: pointer;

    & > .icon {
      width: 35px;
    }
  }
}
