.user-menu {
  width: 50%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 5%;
  top: 2%;

  & > .item {
    cursor: pointer;

    & > .icon {
      width: 35px;
    }
  }
}

@media (min-width: 998px){
  .user-menu {
    position: static;
    & > .item {
      display: inline-block;
    }
  }
}


@media (min-width: 1280px){
  .user-menu {
    & > .item {

    }
  }
}