@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.menu-hamburguer {
  cursor: pointer;
  pointer-events: all;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 18px;
  left: 10px;
  width: 40px;
  height: 30px;
  background: transparent;
  z-index: 1; }
  .menu-hamburguer > span {
    width: 40px;
    border-radius: 2px;
    height: 5px;
    background: #303030; }
  .menu-hamburguer.-active > span:nth-child(2) {
    display: none; }
  .menu-hamburguer.-active > span:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg); }
  .menu-hamburguer.-active > span:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg); }

.menu-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  width: 300px;
  height: 100%;
  position: absolute;
  padding-top: 80px;
  background-color: transparent;
  pointer-events: none;
  transform: translate(-100%);
  transition: transform 0.3s ease-out; }
  .menu-drawer.-active {
    box-shadow: 5px 0 5px #eeeeee;
    pointer-events: all;
    background: #fff;
    transform: translate(0);
    position: absolute; }
  .menu-drawer > .logo-eplus {
    margin-bottom: 40px;
    width: 270px; }
  .menu-drawer > .nav-bar {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
    font-size: 18px; }
    .menu-drawer > .nav-bar > .nav-item > a {
      color: #000; }

.user-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 5%;
  top: 2%;
  z-index: -1; }
  .user-menu > .item > .icon {
    width: 35px; }
