@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.menu-hamburguer {
  cursor: pointer;
  pointer-events: all;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 18px;
  left: 10px;
  width: 40px;
  height: 30px;
  background: transparent;
  z-index: 2; }
  .menu-hamburguer > span {
    width: 40px;
    border-radius: 2px;
    height: 5px;
    background: #303030; }
  .menu-hamburguer.-active > span:nth-child(2) {
    display: none; }
  .menu-hamburguer.-active > span:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg); }
  .menu-hamburguer.-active > span:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg); }

.menu-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  width: 300px;
  height: 100%;
  position: absolute;
  padding-top: 80px;
  background-color: transparent;
  pointer-events: none;
  transform: translate(-100%);
  transition: transform 0.3s ease-out;
  z-index: 1; }
  .menu-drawer.-active {
    box-shadow: 5px 0 5px #eeeeee;
    pointer-events: all;
    background: #fff;
    transform: translate(0);
    position: absolute; }
  .menu-drawer > .logo-eplus {
    margin-bottom: 40px;
    width: 270px; }
  .menu-drawer > .nav-bar {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
    font-size: 18px; }
    .menu-drawer > .nav-bar > .nav-item > a {
      color: #000; }

.user-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 5%;
  top: 2%; }
  .user-menu > .item {
    cursor: pointer; }
    .user-menu > .item > .icon {
      width: 35px; }

.modal-cart {
  background-color: #f0f0f0;
  width: 330px;
  max-height: 460px;
  position: absolute;
  right: 4.5%;
  top: 70px;
  box-shadow: -2px 0px 8px #d6d5d5;
  display: grid;
  grid-template-rows: auto 60px 60px;
  opacity: 0;
  transition: opacity 250ms linear; }
  .modal-cart.-active {
    opacity: 1;
    transition: opacity 250ms linear; }
  .modal-cart::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    right: 2%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent #eeeeee;
    border-image: initial;
    border-width: 18px;
    pointer-events: none; }
  .modal-cart > .wrapper-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    max-height: 440px;
    overflow: scroll; }
    .modal-cart > .wrapper-products > .products-cart {
      width: 90%;
      border-bottom: 1px solid #e8e8e8;
      display: flex;
      padding-bottom: 20px; }
      .modal-cart > .wrapper-products > .products-cart > .product-image {
        width: 90px;
        height: 80px;
        margin-right: 10px;
        border-radius: 1px; }
      .modal-cart > .wrapper-products > .products-cart > .text-wrapper {
        width: 100%; }
        .modal-cart > .wrapper-products > .products-cart > .text-wrapper > .product-description {
          font-size: 14px;
          width: 200px;
          height: 29px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          margin-bottom: 20px;
          position: relative; }
          .modal-cart > .wrapper-products > .products-cart > .text-wrapper > .product-description::after {
            content: "...";
            position: absolute;
            top: 1em; }
        .modal-cart > .wrapper-products > .products-cart > .text-wrapper > .product-amount {
          display: inline-block;
          margin-right: 40px;
          font-weight: 500;
          font-size: 15px; }
        .modal-cart > .wrapper-products > .products-cart > .text-wrapper > .product-price {
          display: inline-block;
          color: #00bc0e;
          font-weight: bold;
          font-size: 14px; }
  .modal-cart > .total-order {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6; }
    .modal-cart > .total-order > .total-amount {
      color: #555555;
      font-weight: bold;
      font-size: 18px;
      margin-left: 0.4em; }
  .modal-cart > .buy-button {
    width: 100%;
    height: 60px;
    border: none;
    position: absolute;
    bottom: 0;
    background-color: #00bc0e;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; }
